.dashboard-container {
    padding: 1em 5%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.dashboard-container main {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.dashboard-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header p {
    background-color: var(--lightgray);
    padding: 5px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.header p:hover {
    background-color: var(--darkgray);
}

.smallbar ul{
    display: flex;
    gap: 10px;
}

.smallbar a {
    text-decoration: none;
    color: var(--gray-text);
}

.smallbar a:active {
    color: black;
}

.list-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--lightgray);
    padding: 10px;
    border-radius: 10px;
}

.list-space-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-space a {
    text-decoration: none;
    color: white;
    background-color: var(--purple-color);
    padding: 1em;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.list-space a:hover {
    background-color: var(--primary-color);
}

.list-space-item p {
    font-weight: 700;
}

.list-space-item small {
    color: var(--gray-text);
    font-size: 15px;
}

.reservation {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.reservation ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
}

.reservation li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.reservation-item {
    display: flex;
    align-items: center;
    gap: 2em;
}

.reservation-item img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 10px;
}

.reservation li:hover {
    background-color: var(--lightgray);
    border-radius: 10px;
    /* transform: scale(1.01); */
}