/* ReviewPage.css */

.review-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.review-title {
  text-align: center;
  margin-bottom: 20px;
}

.review-section {
  margin-bottom: 20px;
}

.review-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.review-value {
  margin-left: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
}

.review-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.review-btn-back{
  background-color: var(--darkgray);
  color: black;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.review-btn-confirm{
  background-color: var(--green-color);
  color: white;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}