@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  --primary-color: #3A86FF;
  --gold-color: #dfdb0a;
  --orange-red: #FB5607;
  --red-color: #ff0000;
  --pink-color: #FF006E;
  --purple-color: #8338EC;
  --lightgray: #d6d5d5;
  --darkgray: #c7c6c6;
  --gray-text: #7a7878;
  --green-color: #00a86b;
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 200px) and (max-width: 768px) {
  :root {
    font-size: 11px;
  }
}